

.Btn_style{
background: green;
font-weight: 600;
border: none;
padding: 0px 15px 0px 15px;
line-height: 2;
color: white;
border-radius: 5px;
}


.successMsg{
    background: green;
    color: white;
    font-weight: 600;
    padding: 5px 25px
}


.errMsg{
    background: red;
    color: white;
    font-weight: 600;
    padding: 5px 25px
}