<table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead style="    background: lightgray;">
        <tr>
            <th>UserId</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of data">
            <td>{{group.userId}}</td>
            <td>{{group.title}}</td>
            <td>{{group.body}}</td>
        </tr>
    </tbody>
</table>